/* Set a background color */
body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Remove container styles */
.container {
  /* Remove background, padding, and box-shadow */
  background: none;
  padding: 0;
  box-shadow: none;
}

/* Style for buttons */
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #0056b3;
}

/* Style for the title and subtitle */
.title {
  font-family: 'Calibri', sans-serif; /* Use Calibri font */
  font-size: 36px;
  margin-bottom: 10px;
  color: #007bff; /* Bright blue color for the title */
  text-align: left; /* Align to the left */
  font-weight: bold; /* Make the title bold */
}

.subtitle {
  font-family: 'Calibri', sans-serif; /* Use Calibri font */
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left; /* Align to the left */
}

/* Center images */
img {
  display: block;
  margin: 0 auto;
}

/* Make other text black and emphasize near the center */
p {
  font-family: 'Calibri', sans-serif; /* Use Calibri font */
  font-size: 18px;
  text-align: left; /* Align to the left */
  color: #000; /* Black color for the text */
  margin: 10px 0; /* Add margin for spacing */
}
