/* Add a background color and center the text */
body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Style for the container */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for buttons */
.button {
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #0056b3;
}

/* Style for the title and subtitle */
.title {
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
  color: #007bff; /* Blue color for the title */
  text-align: center; /* Center the title */
}

.subtitle {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Center the subtitle */
}

/* Center images */
img {
  display: block;
  margin: 0 auto;
}

/* Make other text black and emphasize near the center */
p {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #000; /* Black color for the text */
  margin: 10px 0; /* Add margin for spacing */
}
